/* 
    Document   : proflie
    Created on : Nov 6, 2012, 11:06:52 AM
    Author     : Hugh Templeton
    Description:
        Purpose of the stylesheet follows.
*/



#skirmish{

    border:3px solid #FFFF00;
    width: 300px;
    height: 150px;
    color: white;
    margin-top: 100px;
 
    
}
#skirmish_inner{
    border:3px solid #FF0000;
    width: 295px;
    height: 145px;
    color: white;

 
    
}

#changetimes{

    border:3px solid #FFFF00;
    width: 300px;
    height: 150px;
    color: white;
    margin-top: 100px;
 
    
}
#changetimes_inner{
    border:3px solid #FF0000;
    width: 295px;
    height: 145px;
    color: white;

 
    
}









#info{
    


    width: 80%;
    height: 100%;
    color: white;
    padding:15px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    
}

#skirmishtable{
    margin-left:auto;
    margin-right:auto;
}


#container
{

 
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
    margin-bottom:5px;


}


#left
{

    float: left;
    width:20%;
    text-align: center;

}
#center
{

    float: left;
    width:59%;
    padding:5px;



}

#right
{
    float: right;
    width:20%;
    text-align: center;
}


#footer {
  float: right;
  font-size: smaller;
  background: #FFFF00;
  border: solid 4px #FF0000;
  padding-left: 10px;
  padding-right: 10px;
  color: #000000;
  border-radius:5px;
}

.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    color: #FFFF00;
    font-weight: bold;
}

.nav li{
    display:inline;
    cursor: pointer;
}

.nav a{
    display:inline-block;
    padding:10px;
    
}

.nav li:hover {
    color: #FF0000;
    
}

.nav a:hover {
    color: #FF0000;
    
}
